.hero {
  width: 100%;
  min-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;

  background: #000; /* 👈 black background */
  color: white;

  opacity: 0;
  transform: translateY(80px);
  transition: 1s ease;

  position: relative;
  z-index: 1;
}

.hero.show {
  opacity: 1;
  transform: translateY(0);
}

/* TEXT */
.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 2.8rem;
  color: #00d4ff;
}

.hero-text h2 {
  font-size: 1.8rem;
  color: #38bdf8;
  min-height: 50px;
}

.cursor {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.description {
  margin-top: 20px;
  line-height: 1.8;
  opacity: 0.9;
}

/* VIDEO */
.hero-media {
  width: 45%;
  display: flex;
  justify-content: center;
}

.video-box {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  overflow: hidden;
  background: black;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

.video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 80px 5%;
  }

  .hero-text {
    width: 100%;
  }

  .hero-media {
    display: none;
  }
}