.skills-section {
  width: 100%;
  padding: 80px 8%;

  background: #000;
  color: white;

  opacity: 0;
  transform: translateY(80px);
  transition: 1s ease;
}

.skills-section.show-skills {
  opacity: 1;
  transform: translateY(0);
}

.skills-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #00d4ff;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 25px;
}

.skill-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);

  border-radius: 15px;
  padding: 20px;

  text-align: center;

  transition: 0.3s ease;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-8px);
  background: rgba(0, 212, 255, 0.1);
  border-color: #00d4ff;
}

.skill-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-card p {
  font-size: 1rem;
  font-weight: bold;
}