.footer {
  width: 100%;
  padding: 60px 8%;

  background: #050816;
  color: white;

  text-align: center;

  opacity: 0;
  transform: translateY(60px);
  transition: 1s ease;
}

.footer.show {
  opacity: 1;
  transform: translateY(0);
}

.footer h2 {
  font-size: 2rem;
  color: #00d4ff;
  margin-bottom: 30px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;

  padding: 10px 15px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 212, 255, 0.2);

  transition: 0.3s ease;
  font-weight: bold;
}

.links a:hover {
  transform: translateY(-5px);
  background: rgba(0, 212, 255, 0.15);
  border-color: #00d4ff;
  box-shadow: 0 0 15px rgba(0, 212, 255, 0.3);
}

.copy {
  margin-top: 30px;
  font-size: 0.9rem;
  opacity: 0.6;
}
.icon{
  height: 30px;
  width: 30px;
}